@mixin rounded($amount) {
  -moz-border-radius: $amount !important;
  -webkit-border-radius: $amount !important;
  border-radius: $amount !important;
}


.modal-content {
  width: 70%;
  height: 248px;
  padding: 5px 10px;
  border: 0.5px black solid;
  @include rounded(0);

  input {
    border: 1px solid $header-blue;
    height: 34px;
    @include rounded(0);
  }
  label {
    padding: 0px;
  }
}
.modal-body {
  width: 400px;
  height: 236px;
  padding: 0px;
}
.modal {
  top: 10%;
  outline: none;
  button {
    width: 135px;
    margin: 5px 15px 0 0;
  }
}
h2.modal-title {
  font-size: 28px;
  font-weight: 100;
  line-height: normal;
  margin: 10px 0;
}
.glyphicon-remove {
  font-weight: bold;
  color: $nav-header;
  font-size: 15px;
}
div.login-form.col-md-8 {
  padding-left: 0;
}
@media (min-width: 991px) {
  .modal-content {
    input {
      margin: 10px 0;
    }
    label {
      padding-bottom: 15px;
      padding-top: 15px;
    }
  }
  .form-group {
    margin-bottom: 15px;
  }
  .modal {
    button {
      margin-right: 50px;
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .form-group {
    margin-bottom: 10px;
  }
  .modal-content {
    height: 255px;
  }
}
@media (max-width: 767px) {
  .modal-content {
    width: auto;
    height: auto;
  }
  .modal-body {
    width: auto;
    height: auto;
  }
}
