tbody tr:nth-child(even) {
  background: $Bubbles
}

tbody tr:nth-child(odd) {
  background: $Pot-Pourri
}

tbody tr:nth-child(1) td {
  color: $black;
  font-weight: 600;
}

thead th, tfoot tr>td{
  font-weight:normal;
  font-size: 12px;
}