.nav-tabs{
  width: 86%;
}

.tab-content {
  background: $light-gray;
  width: 220px;
  padding: 15px;
}

.tab-content div#news{
  height: 320px
}

.tab-content ul{
  list-style-type: none;
  padding: 0px;
}

.tab-content div p.title {
  color: #328fc2;
  font-size: 16px;
  font-weight: bold;
  line-height: 2em;
}

.tab-content li {
  color: $header-blue;
  font-size: 16px;
  font-weight: bold;
}

ul.nav-tabs{
  height: 50px;
}

.nav-tabs>li>a{
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  font-size: 18px;
}

.nav-tabs>li:not(.active)>a {
  height: 40px;
  background: $Pot-Pourri;
  margin-top: 10px;
  text-align: center;
  color: $header-blue;
  font-weight: 100;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  background: $light-gray;
  color: $matterhorn;
  height: 50px;
  margin: 0px;
  text-align: center;
  font-weight: bold;
  color: $black;
}