//Color Variables

$main-font-size: 16px;
$box-green: #bbd8c4;
$link-color: #65abd1;
$side-purple: #650360;
$header-blue: #328FC2;
$nav-header: #006899;
$red: #FF0000;
$white: #FFFFFF;
$gray: #808080;
$pink: #FFCBDB;
$brown: #964B00;
$orange: #FF7F00;
$yellow: #FFFF00;
$green: #00FF00;
$cyan: #00FFFF;
$blue: #0000FF;
$violet: #7F00FF;
$black: #000000;
$Pot-Pourri: #ddebe1;
$Bubbles: #eef5f0;
$light-gray: #ededed;
$matterhorn: #505050;
$solitude: #e7e8e9;
