body {
  padding: 70px 0px;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

p.mobile-desc{
  width: 100%;
}

h1{
  color: $side-purple;
}

button {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  &.login {
    height: 35px;
    width: 220px;
    padding-top: 5px;
    font-size: 18px;
    color: $white;
    text-align: center;
    background-color: $side-purple;
    font-weight: bold;
    box-sizing: border-box;
  }
}

p.rates-header{
  font-size: 28px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $white;
  height: 4px;
  width: 25px;
}

.bank-desc > a{
  color: $header-blue;
  text-decoration: underline;
}

p.reasons-title{
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  font-weight: bold;
}

th.no-heading{
  visibility: hidden;
}


.mobile-info {
  position: relative;
  padding: 15px;
  background-color: $box-green;
  margin-top: 30px;
  p {
    width: 80%;
    &.header {
      display: block;
      font-weight: bold;
      color: $side-purple;
    }
  }
  img {
    position: absolute;
    right: 25px;
    bottom: 15px;
  }
}

.reasons-list{
  padding-left: 16px;
}

.mb0{
  margin-bottom: 0px;
}
.mb1{
  margin-bottom: 10px;
}
.mb2{
  margin-bottom: 20px;
}

.mb3{
  margin-bottom: 30px;
}

.mb4{
  margin-bottom: 40px;
}

.mt0{
  margin-top: 0px;
}

.mt1{
  margin-top: 10px;
}

.mt2{
  margin-top: 20px;
}

.mt3{
  margin-top: 30px;
}

.pt2{
  padding-top: 20px;
}

.bold-text{
  font-weight: bold;
}
