body {
  padding-top: 70px;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.section__button--login {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}